name = "InteractModels"
uuid = "546b680c-e627-4c75-86f8-7ef2c81e5d51"
authors = ["Rafael Schouten <rafaelschouten@gmail.com> and contributors"]
version = "0.2.0"

[deps]
Interact = "c601a237-2ae4-5e1e-952c-7a85b0c7eef1"
ModelParameters = "4744a3fa-6c31-4707-899e-a3298e4618ad"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"

[compat]
Interact = "0.10"
ModelParameters = "0.2"
Reexport = "0.2"
julia = "1"

[extras]
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["DataFrames", "Test"]
